body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.container {
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.hader {
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
}

.navigator {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #3B7EE2;
    height: 60px;
    display: flex;
    align-items: center;
    padding-left: 1%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}


img {
    width: 45px; 
    height: 45px;
    border-radius: 50%;
    margin-right: 20px;

}



h4 {
    color: white;
    font-weight: 500;
    margin: 0;
    font-size: 16px;
    transition: color 0.3s ease;
}


.inventory, .transaction, .staff {
    cursor: pointer;
    width: 12%; 
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    border-radius: 5px; 
    margin-right: 1.5%; 
    transition: background-color 0.3s ease, box-shadow 0.3s ease; 
}

.inventory:hover, .transaction:hover, .staff:hover {
    background-color: #7fa6de; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); 
}


.fa-right-from-bracket {
    color: white;
    font-size: 22px;
   margin-left: auto;
    padding: 10px; 
    cursor: pointer;
    transition: color 0.3s ease, transform 0.3s ease;
}

.fa-right-from-bracket:hover {
    color: #FF7F7F;
    transform: scale(1.1); 
}

h1 {
    text-align: center;
}

.staff-detail {
    width: 100%;
}

table {
    width: 100%;
    height: auto;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #85d3f7dd;
    text-align: left;
    line-height: 2;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

th {
    background-color: rgb(59, 126, 226);
    color: white;
}

.id {
    width: 6%;

}

.addStaff {
    background-color: rgb(97, 154, 10);
    width: 20%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    gap: 8%;
}

.addProduct:hover {
    background-color: rgb(89, 128, 32);
}



.showDetails {
    position: fixed;
    background-color: rgb(255, 255, 255);
    border: 1px solid;
    width: 60%;
    height: 400px;
    left: 20%;
    top: 20%;
    padding: 20px;
    box-sizing: border-box;
}

.addProductForm {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px;
    width: 100%;
    height: 100%;
}

.addProductForm input,
.addProductForm textarea {
    padding: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    width: 100%;
    max-height: 60px;
}

.formName {
    grid-column: span 2;
}

.formDes {
    grid-column: span 3;
    resize: vertical;
    height: 100px;
}

.formCategory {
    grid-column: 3;
}

button {
    grid-column: span 3;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}