<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Invoice</title>
</head>
<body>
    <h1>Invoice</h1>
    <p>Order Date: <span th:text="${invoice.invoiceDate}"></span></p>
    <p>Total Bill: <span th:text="${invoice.totalAmount}"></span></p>

    <h2>Order Items</h2>
    <ul>
        <li th:each="item : ${invoice.order.orderItems}">
            <p>Product: <span th:text="${item.product.name}"></span></p>
            <p>Quantity: <span th:text="${item.quantity}"></span></p>
            <p>Price: <span th:text="${item.price}"></span></p>
        </li>
    </ul>
</body>
</html>
