<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/src/main/resources/static/css/loginStyle.css">

    <link rel="stylesheet" type="text/css" th:href="@{/css/loginStyle.css}">

    <title>Login</title>
</head>

<body>

    <div class="login-container">
        <h2>Login</h2>
        <form th:action="@{/login}" method="post" id="login-form">
            <input type="text" name="shopName" class="box" placeholder="Enter your branch" required/><br>
            <input type="text" name="username" class="box" placeholder="Enter your username" required/><br>
            <input type="password" name="password" class="box" placeholder="Enter your password" required/><br>
            <button type="submit" class="box1 login-button">Login</button>
            <p class="register-link">Don't have an account? <a href="signup" onclick="returnSignup()">Sign up here</a></p>
        </form>
        
    </div>
    <div th:if="${loginError}"  class="invalidUsername">
        Invalid username or password. Please try again.
    </div>

    
<script>
    function returnSigup(){
        window.location.replace('signup');
    }
</script>
</body>

</html>