<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

</html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manager</title>
    <script src="https://kit.fontawesome.com/75736e9502.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/managerStyle.css" th:href="@{/css/managerStyle.css}" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/script/chart.js" defer></script>
</head>

<body>
    <div class="navigator">
        <img src="/diepluc.jpg" alt="Avatar diep luc" onclick="returnManage()">
        <div class="inventory" onclick="returnInventory()">
            <h4>Inventory</h4>
        </div>
        <div class="transaction" onclick="returnTransaction()">
            <h4>Transactions</h4>
        </div>
        <div class="staff" onclick="returnStaff()">
            <h4>Staff</h4>
        </div>
        <i onclick="logout()" class="fa-solid fa-right-from-bracket"></i>
        <form id="id-logout" action="/logOut" method="post">
            <input  type="hidden">
        </form>
    </div>
    <div class="revenueStatic">
        <div class="topSold">
            <h2>Best Sellers</h2>
                <hr style="width:76%;text-align:left;margin-left:0">
                <div class="productbar" th:each="product : ${topSoldsList}">
                    <div class="productName" th:text="${product.name}"></div>
                    <div class="productQuantity" th:text="${product.quantity}"></div>
                </div>
        </div>
        <div class="soldChart">
            <pre id="revenueValue" th:text="${revenue}"></pre>
            <canvas id="myChart"></canvas>
        </div>
    </div>
    <div class="soldChart">
        <canvas id="myChart"></canvas>
    </div>


</body>
<script>
    function backmain() {
        window.location.replace('order(1)');
    }
    function returnInventory(){
        window.location.replace('productManagement');
    }
    function returnManage(){
        window.location.replace('manage');
    }

    function returnStaff() {
        window.location.replace('staffManagement');
    }
    function logout(){
        document.getElementById('id-logout').submit();
    }

</script>

</html>