<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADD PRODUCT </title>
    <script src="https://kit.fontawesome.com/75736e9502.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/src/main/resources/static/css/addproductStyle.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/addproductStyle.css}">
    <script src="/src/main/resources/static/script/test.js" defer></script>
</head>

<body>
    <div class="navigator">
        <img src="/diepluc.jpg" alt="Avatar diep luc" onclick="returnManage()">
        <div class="inventory" onclick="returnInventory()">
            <h4>Inventory</h4>
        </div>
        <div class="transaction" onclick="returnTransaction()">
            <h4>Transactions</h4>
        </div>
        <div class="staff" onclick="returnStaff()">
            <h4>Staff</h4>
        </div>
        <i onclick="logout()" class="fa-solid fa-right-from-bracket"></i>
        <form id="id-logout" action="/logOut" method="post">
            <input  type="hidden">
        </form>
    </div>
    <form id="idform" action="/getProductById" method="post">
        <input id="id" name="id" type="hidden">
    </form>

    <span th:if="${nameError}" th:text="${nameError}" class="error"></span>
    <span th:if="${priceError}" th:text="${priceError}" class="error"></span>
    <div class="showDetails">
        <form class="addProductForm" action="/addProduct" method="post">
            <input type="hidden" name="productId" th:value="${product.id}" />
            <input id="name" type="text" name="name" class="formName" placeholder="Product Name"
                th:value="${product.name}" required />
            <input type="text" name="category" class="formCategory" placeholder="Category" th:value="${product.category}" required />
            <input type="number" name="quantity" class="formQuantity" placeholder="Quantity" min="0" th:value="${product.quantity}" required />
            <input type="number" name="cost" class="formCost" placeholder="Cost" min="0" step="0.1" th:value="${product.cost}" required />
            <input type="number" name="price" class="formPrice" placeholder="Price" min="0" step="0.1" th:value="${product.price}" required />
            <textarea class="formDes" name="description" placeholder="Description" th:text="${product.description}" required></textarea>
            <button class="returnButton" onclick="returnToManage()">Return</button>
            <div onclick="deleteProduct()" class="deleteButton">Delete</div>
            <button type="submit" class="saveButton">Save</button>
        </form>
        <form id="deleteForm" action="/deleteProduct" method="post">
            <input id="iddelete" name="id" type="hidden">
        </form>
        
    </div>
</body>
<script>
    function returnToManage() {
        window.location.replace('productManagement');
    }
    function returnInventory() {
        window.location.replace('productManagement');
    }
    function returnManage() {
        window.location.replace('manage');
    }

    function returnStaff() {
        window.location.replace('staffManagement');
    }

    function deleteProduct(){
        document.getElementById('iddelete').value=data;
        document.getElementById('deleteForm').submit();
    }

    const data = sessionStorage.getItem('data');
    const processed = sessionStorage.getItem('processed');

    if (data && !processed) {
        document.getElementById('id').value = data;
        document.getElementById('idform').submit();
        sessionStorage.setItem('processed', 'true');
    }
    function logout(){
        document.getElementById('id-logout').submit();
    }

</script>

</html>