<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Order</title>
    <link rel="stylesheet" type="text/css" href="/src/main/resources/static/css/orderStyle.css">
    <script src="https://kit.fontawesome.com/75736e9502.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/orderStyle.css}">
    <script src="/src/main/resources/static/script/order(1).js" defer></script>
</head>

<body>

    <div class="navigator">
        <div class="choseTable">
            <i onclick="logout()" class="fa-solid fa-right-from-bracket"></i>
            <h2>ORDER ITEMS LIST</h2>
            
            <form id="id-logout" action="/logOut" method="post">
                <input type="hidden">
            </form>
        </div>
        <div class="choseItems" onclick="toggleCategoryList()">
            <i class="fa-solid fa-mug-hot fa-xl"></i>
            <h2>CHOOSE ITEMS</h2>
        </div>
    </div>

    <div id="categoryList" class="category-list" style="display: none;">
        <div onclick="getCategory(this)" th:each="category : ${categoryList}" class="category-item">
            <span th:text="${category}"></span>
            <form id="filterform" action="/filterByCategory" method="post" hidden>
                <input id="categoryIn" type="text" name="category">
            </form>

        </div>
        <div onclick="nofilter()" class="category-item">None</div>
        <form id="filternone" action="/returnDefaultProduct" method="post" hidden>
            <input id="categorynone" type="text" name="category">
        </form>
    </div>



    <span th:if="${nullOrder}" th:text="${nullOrder}" class="error"></span>

    <div class="orderbody">
        <div class="order-table">
            <div class="orderItemBar" th:each="orderItem : ${newOrderItems}" th:data-id="${orderItem.id}">
                <i onclick="deleteitem(this)" class="fa-solid fa-trash-can fa-xl"></i>
                <div class="nameAndprice">
                    <h2 th:text="${orderItem.product.name}"></h2>
                    <div class="price" th:text="${orderItem.price}">
                    </div>
                </div>
                <div class="quantity">
                    <form id="quantityForm" th:id="'quantityForm_' + ${orderItem.id}" action="/changeQuantity"
                        method="post">
                        <input type="hidden" name="orderItemId" th:value="${orderItem.id}" required />
                        <input class="quantityT" type="number" min="0" step="1" name="quantity"
                            th:value="${orderItem.quantity}" required onkeydown="submitOnEnter(event, this.form)"
                            onfocusout="submitOnFocusOut(this.form)" /><br>
                        <span th:if="${inputError}" th:text="${inputError}" class="error"></span>

                    </form>
                </div>
            </div>
            <div class="totalpay">
            </div>
            <form action="/printOrder" method="get" class="footer">
                <button class="payment-button">PROCEED TO PAYMENT</button>
            </form>
        </div>

        <div class="menu-container">
            <div th:each="product: ${newInventory}" class="menu-item" th:data-id="${product.id}" id="menu-item2"
                onclick="submitProductForm(this)">
                <span th:text="${product.name}"></span>
                <span th:text="${product.price}" class="price"></span>
            </div>
        </div>

        <form id="productForm" action="/addProductToOrder" method="post">
            <input type="hidden" id="productId" name="productId">
        </form>

        <form id="deleteForm" action="/deleteItem" method="post">
            <input type="hidden" id="orderItemId" name="id">
        </form>
    </div>


    <script>
        function submitProductForm(productElement) {
            var productId = productElement.getAttribute("data-id");
            document.getElementById('productId').value = productId;
            document.getElementById('productForm').submit();

        }
        function submitOnEnter(event, form) {
            var orderItemId = form.querySelector('[name="orderItemId"]').value;
            console.log("OrderItemId before submit (Enter):", orderItemId);
            if (event.key === "Enter" && orderItemId) {
                event.preventDefault();
                form.submit();
            }
        }

        function submitOnFocusOut(form) {
            var orderItemId = form.querySelector('[name="orderItemId"]').value;
            console.log("OrderItemId before submit (FocusOut):", orderItemId);
            if (orderItemId) {
                form.submit();
            }
        }

        function deleteitem(orderElement) {
            var orderId = orderElement.parentNode.getAttribute("data-id");
            document.getElementById('orderItemId').value = orderId;
            document.getElementById('deleteForm').submit();
        }

        function toggleCategoryList() {
            var categoryList = document.getElementById("categoryList");
            if (categoryList.style.display == 'none') {
                categoryList.style.display = 'grid';
            } else {
                categoryList.style.display = 'none';
            }
        }


        function getCategory(categoryElement) {
            var category = categoryElement.querySelector("span").textContent;
            var categoryIn = document.getElementById('categoryIn');
            categoryIn.value = category;
            document.getElementById('filterform').submit();
        }

        function nofilter() {
            document.getElementById('categorynone').value = 'null';
            document.getElementById('filternone').submit();
        }

        function toggleDropdown() {
            var dropdown = document.getElementById("dropdownList");
            dropdown.classList.toggle("show");
        }

        function logout() {
            document.getElementById('id-logout').submit();
        }


    </script>
</body>

</html>